@use "./abstracts" as a;
@use "./components";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

body {
  min-height: 100vh;
  background-color: a.$background;
}