@use './abstracts' as a;
@use './components';
@use './pages';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

body {
  background-color: a.$background;
}
